* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #efe5e5;
    position: relative;
    min-height: 100vh;
    max-width: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

main {
    padding-bottom: 5rem;
    padding-left: 2em;
    padding-right: 2em;
    text-align: center;
    color: #5C1932;
    font-family: "Roboto", "Helvetica Neue", sans-serif;
}

.skiplink {
    position: absolute;
    left: -100rem;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

.skiplink:focus {
    position: fixed;
    color: #efe5e5;
    left: 0;
    width: auto;
    height: auto;
}

@font-face {
    font-family: 'Roboto';
    src: url('fonts/Roboto-Light.ttf');
}

@font-face {
    font-family: 'Goudy Bookletter 1911';
    src: url('fonts/GoudyBookletter1911-Regular.ttf');
}

@font-face {
    font-family: "Helvetica Neue";
    src: url('fonts/HelveticaNeue-Light.otf');
}

h1, h2 {
    font-family: "Goudy Bookletter 1911";
    font-weight: 300;
    padding-top: 2rem;
}

p {
    margin: auto;
    padding: 1em 1em 1em 1em;
    line-height: 1.5;
    max-width: 30rem;
}

a {
    font-family: "Roboto", "Helvetica Neue", sans-serif;
    font-weight: bold;
    color: #5C1932; /* orbis red: menu background and font color*/
    text-decoration: none;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    /* ...and now for the proper property */
    transition:.5s;
}

a:hover {
    text-decoration: underline;
}

/* @media all and (max-width: 750px) {
} */
/* @media all and (min-width: 750px) {
} */

.header {
    height: 30vh;
    width: 100%;
    padding: 0;
    margin: 0 0 -1px 0;
    background-color: #5C1932;
    display: flex;
    justify-content: center;
}

.header > a {
    display: inline-block;
}


.header > a > img {
    object-fit: contain;
    object-position: center;
    height: 30vh;
}

nav {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    align-items: center; /* Align vertical */
    background-color: #5C1932;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
}

nav > a {
    margin: 0;
    padding: 0.5em 1em 0.5em 1em;
    color: #efe5e5;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    margin-left: 0.1em;
    margin-right: 0.1em;
}

nav > a:hover, nav > a.active {
    background-color: #efe5e5;
    text-decoration: none;
    color: #5C1932;
}

footer {
    background-color: #5C1932;
    padding: 0.3rem;
    width: 100%;
    display: flex;
    justify-content: center;
    height: 3.6rem;
    position: absolute;
    bottom: 0;
}

footer > a > img {
    width: 2rem;
    height: 2rem;
    margin: 0.5rem 0.7rem 0 0.7rem;
}
